*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family:Josfen;
  src: url(./Fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Josfen-2;
  src: url(./Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
body{
 
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.701), rgba(255, 255, 255, 0.701)), 
  url(./Images/MuchaTseBle.jpeg);
  background-size: cover;
 background-attachment: scroll;
font-family: Josfen-2;
}
/* Navigation Bar */
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
#logo img{
  width: 80px;
  height: 80px;
  padding-left: 40px;
}

.ancor-tags{
  margin-top: 20px;
  padding-right: 60px;
}
.ancor-tags a{
  padding: 10px 20px;
  color: rgb(114, 30, 30);
  text-decoration: none;
}
.ancor-tags a:hover{
  border: 1px solid rgb(114, 30, 30);
  border-radius: 10px;
  background-color: rgb(114, 30, 30);
  color: #fff;
  }

  /* Home */
  .home{
    display: flex;
    justify-content: space-between;
  }
  .home-heading{
    padding: 150px 70px;
    color: rgb(114, 30, 30);
    font-size: large;
    font-family: Josfen;
  }
  .home-heading h1{
    font-size:45px;
  }
  h1 em{
  font-size: 60px;
  font-style: normal; 
  }
  .home-heading p{
    padding:5px 0;
  }
  .home-heading img{
    margin: 10px 0px;
    margin-left: 15px;
    width: 20px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.735);
    border-radius: 15px;
  }
  .home-heading button{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.735);
    border: 1px solid  rgb(114, 30, 30);
    background-color: rgb(114, 30, 30);
    padding: 10px;
    margin-left: 20%;
    margin-top: 15px;
    border-radius: 5px;
  }

.home-image img{
    width: 400px;
  }
.home-image {
  position: relative;
  animation-name: move;
  animation-duration: 1s;  
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes move {
  from {right:0px;}
  to {right: 100px; }
}

/* Coffee */
.coffee-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}
.coffee-container .coffee-cup{
  width: 190px;
  height: 190px;
  background-color: rgba(240, 248, 255, 0.735);
  color: rgb(114, 30, 30);
  border-radius: 10px;
  text-align: center;
}

.coffee-cup img{
  background-color: rgba(240, 248, 255, 0.826);
  width: 150px;
  height: 130px;
  position: relative;
  top: -40px;
  border-radius: 50%;
}
.coffee-cup h2{
  margin-top: -15px;
}
.coffee-cup p{
  font-size: 13px;
  padding: 10px;
}

  /* Small Screen */
  @media(max-width:1000px) {

   /* Navigation Bar */
 #logo img{
   width: 70px;
   height: 70px;
   padding-left: 30px;
 }
 
 .ancor-tags{
   padding-right: 50px;
 }
 .ancor-tags a{
   padding: 10px 10px;
}

/* Home */

.home-heading{
  padding: 150px 50px;
}
.home-heading h1{
  font-size:35px;
}
h1 em{
font-size: 50px;
}
.home-heading img{
  width: 18px;
  padding: 8px;
 
}
.home-heading button{
  padding: 8px;
  margin-top: 8px;
}

.home-image img{
  width: 300px;
}
.home-image {
  position: relative;
  animation-name: move;
  animation-duration: 1s;  
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes move {
  from {right:0px;}
  to {right: 50px; }
}
  }

  /* Coffee */
  .coffee-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
  }
  .coffee-container .coffee-cup{
    width: 190px;
    height: 190px;
    background-color: rgba(240, 248, 255, 0.735);
    color: rgb(114, 30, 30);
    border-radius: 10px;
    text-align: center;
  }
  
  .coffee-cup img{
    background-color: rgba(240, 248, 255, 0.826);
    width: 150px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
  }
  .coffee-cup h2{
    margin-top: -15px;
  }
  .coffee-cup p{
    font-size: 13px;
    padding: 10px;
  }

/* Tab Screens */
@media(max-width:780px) {
  /* Navigation Bar */
#logo img{
  width: 60px;
  height: 60px;
}
.ancor-tags a{
  padding: 5px;
  font-size:2.7vh;
}

/* Home */
.home-heading{
  padding: 150px 20px;
}
.home-heading h1{
  font-size:25px;
}
h1 em{
font-size: 40px;
}
.home-heading img{
  width: 15px;
  padding: 5px;
 
}
.home-heading p{
  font-size: small;
}
.home-heading button{
  padding: 5px;
}

.home-image img{
  width: 300px;
}
.home-image {
  position: relative;
  animation-name: move;
  animation-duration: 1s;  
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes move {
  from {right:0px;}
  to {right: 5%; }
}

/* Coffee */
.coffee-container .coffee-cup{
  width: 150px;
  height: 150px;
}

.coffee-cup img{
  width: 120px;
  height: 100px;
}
.coffee-cup h2{
  font-size: medium;
  margin-top: -20px;
}
.coffee-cup p{
font-size: 1.7vh;
}
  }


 /* Mobile  */
 @media(max-width:400px) {
  /* Navigation Bar */
#logo img{
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.ancor-tags{
  padding-right: 0px;
}
.ancor-tags a{
  padding: 5px 05px;
  font-size: 1.6vh;
}

/* Home */
.home-heading{
  padding: 60px 20px;
}
.home-heading h1{
  font-size:3vh;
}
h1 em{
font-size: 4vh;
}
.home-heading img{
  width: 10px;
  padding: 2px;
  margin: 08px 0px;
  margin-bottom: 0;
  margin-left: 0px;
}
.home-heading p{
  font-size: 1.3vh;
}
.home-heading button{
  padding: 2px;
  margin-left: 05px;
  font-size: 1.3vh;
}

.home-image img{
  width: 140px;
}
.home-image {
  position: relative;
  animation-name: move;
  animation-duration: 1s;  
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes move {
  from {right:0px;}
  to {right: 5%; }
}

/* Coffee */
.coffee-container{
display: grid;
grid-template-columns: 1;
gap: 60px;
}
.coffee-container .coffee-cup{
  width: 250px;
  height: 220px;
}

.coffee-cup img{
  width: 180px;
  height: 150px;
  position: relative;
  top: -40px;
  border-radius: 50%;
}
.coffee-cup h2{
  margin-top: -15px;
}
.coffee-cup p{
  font-size: 13px;
  padding: 10px;
}
  }





